┌────
│
    dvg_fftw_convolvevalid1d
                                    numpy
                                    pyfftw

    dvg_fftw_firfilter
                                    numpy
                                    scipy
                                                dvg_fftw_convolvevalid1d
                                                dvg_ringbuffer
    dvg_fftw_firfilter_gui
                                    PyQt5
                                    numpy
                                                dvg_fftw_firfilter

    dvg_fftw_welchpowerspectrum
                                    numpy
                                    scipy
                                    numba
                                    pyfftw
││
└────